@page "/producttriches/delete"
@using Microsoft.EntityFrameworkCore
@using GlassStore.Entities.TriCH.Models
@inject GlassStore.Services.TriCH.IProductTriCHService _service
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>ProductTriCh</h2>
    <hr />
    @if (ProductTriCh is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ProductName</dt>
            <dd class="col-sm-10">@ProductTriCh.ProductName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Sku</dt>
            <dd class="col-sm-10">@ProductTriCh.Sku</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CategoryTriChid</dt>
            <dd class="col-sm-10">@ProductTriCh.CategoryTriChid</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Brand</dt>
            <dd class="col-sm-10">@ProductTriCh.Brand</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@ProductTriCh.Price</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@ProductTriCh.Description</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">FrameType</dt>
            <dd class="col-sm-10">@ProductTriCh.FrameType</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Material</dt>
            <dd class="col-sm-10">@ProductTriCh.Material</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Dimensions</dt>
            <dd class="col-sm-10">@ProductTriCh.Dimensions</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">StockQuantity</dt>
            <dd class="col-sm-10">@ProductTriCh.StockQuantity</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@ProductTriCh.Status</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedAt</dt>
            <dd class="col-sm-10">@ProductTriCh.CreatedAt</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UpdatedAt</dt>
            <dd class="col-sm-10">@ProductTriCh.UpdatedAt</dd>
        </dl>
        <EditForm method="post" Model="ProductTriCh" OnValidSubmit="DeleteProductTriCh" FormName="delete" Enhance>
            <AntiforgeryToken />
            <input type="hidden" name="ProductTriCh.ProductTriChid" value="@ProductTriCh.ProductTriChid" />
            <div class="mt-4 d-flex gap-1">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="/producttriches" class="btn btn-secondary">Back to List</a>
            </div>
        </EditForm>
    }
</div>

@code {
    [SupplyParameterFromQuery]
    private int ProductTriChid { get; set; }

    [SupplyParameterFromForm]
    private ProductTriCh? ProductTriCh { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ProductTriCh ??= await _service.GetProductByIdAsync(ProductTriChid);
        if (ProductTriCh is null)
        {
            NavigationManager.NavigateTo("/producttriches");
        }
    }

    private async Task DeleteProductTriCh()
    {
        try
        {
            await _service.DeleteProductAsync(ProductTriChid);
            
        }
        catch (Exception ex)
        {
            throw new Exception($"Error deleting category: {ex.Message}", ex);
        }
        NavigationManager.NavigateTo("/producttriches", forceLoad: true);
    }
}
