@page "/producttriches/details"
@attribute [Authorize(Roles = "1,2")]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using GlassStore.Entities.TriCH.Models
@inject GlassStore.Services.TriCH.IProductTriCHService _productService;
<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Product Details</h2>
    <hr />
    @if (producttrich is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ProductName</dt>
            <dd class="col-sm-10">@producttrich.ProductName</dd>
            <dt class="col-sm-2">Sku</dt>
            <dd class="col-sm-10">@producttrich.Sku</dd>
            <dt class="col-sm-2">Category ID</dt>
            <dd class="col-sm-10">@producttrich.CategoryTriChid</dd>
            <dt class="col-sm-2">Brand</dt>
            <dd class="col-sm-10">@producttrich.Brand</dd>
            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@producttrich.Price.ToString("C0")</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@producttrich.Description</dd>
            <dt class="col-sm-2">FrameType</dt>
            <dd class="col-sm-10">@producttrich.FrameType</dd>
            <dt class="col-sm-2">Material</dt>
            <dd class="col-sm-10">@producttrich.Material</dd>
            <dt class="col-sm-2">Dimensions</dt>
            <dd class="col-sm-10">@producttrich.Dimensions</dd>
            <dt class="col-sm-2">StockQuantity</dt>
            <dd class="col-sm-10">@producttrich.StockQuantity</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@producttrich.Status</dd>
            <dt class="col-sm-2">CreatedAt</dt>
            <dd class="col-sm-10">@producttrich.CreatedAt</dd>
            <dt class="col-sm-2">UpdatedAt</dt>
            <dd class="col-sm-10">@producttrich.UpdatedAt</dd>
        </dl>
        <div class="mt-4 d-flex gap-1">
            <AuthorizeView Roles="1">
                <a href="@($"/producttriches/edit?producttrichid={producttrich.ProductTriChid}")" class="btn btn-primary">Edit</a>
            </AuthorizeView>
            <a href="@($"/producttriches")" class="btn btn-secondary">Back to List</a>
        </div>
    }
</div>

@code {
    private ProductTriCh? producttrich;

    [SupplyParameterFromQuery]
    private int ProductTriChid { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            producttrich = await _productService.GetProductByIdAsync(ProductTriChid);
            if(producttrich == null)
            {
                throw new Exception("Product not found.");
            }
        }
        catch (Exception ex)
        {
            throw new Exception($"Error loading product details: {ex.Message}", ex);
        }
    }
}
