@page "/producttriches"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using GlassStore.Entities.TriCH.Models
@using GlassStore.Repositories.TriCH.DBContext
@inject GlassStore.Services.TriCH.IProductTriCHService _productService;

<PageTitle>Product Management</PageTitle>

<h1>Product Management</h1>

<p>
    <a href="producttriches/create" class="btn btn-success">Create New</a>
</p>

@if (isLoading)
{
    <div class="alert alert-info py-1">Updating data...</div>
}

<QuickGrid Class="table table-striped" ItemsProvider="productProvider" Pagination="pagination">
    <PropertyColumn Property="producttrich => producttrich.ProductName" Title="Name" Sortable="true" />
    <PropertyColumn Property="producttrich => producttrich.Sku" Title="SKU" Sortable="true" />
    <PropertyColumn Property="producttrich => producttrich.Brand" Sortable="true" />
    <PropertyColumn Property="producttrich => producttrich.Price" Format="C0" Sortable="true" />
    <PropertyColumn Property="producttrich => producttrich.StockQuantity" Title="Stock" Sortable="true" />
    
    <TemplateColumn Context="producttrich" Title="Actions">
        <div class="d-flex gap-1">
            <a class="btn btn-sm btn-primary" href="@($"producttriches/edit?producttrichid={producttrich.ProductTriChid}")">Edit</a>
            <a class="btn btn-sm btn-info text-white" href="@($"producttriches/details?producttrichid={producttrich.ProductTriChid}")">Details</a>
            <a class="btn btn-sm btn-danger" href="@($"producttriches/delete?producttrichid={producttrich.ProductTriChid}")">Delete</a>
        </div>
    </TemplateColumn>
</QuickGrid>

<Paginator State="@pagination" />

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    GridItemsProvider<ProductTriCh> productProvider = default!;
    bool isLoading = false; 

    protected override void OnInitialized()
    {
        productProvider = async request =>
        {
            isLoading = true;
            StateHasChanged();

            int pageSize = request.Count ?? pagination.ItemsPerPage;
            int pageIndex = request.StartIndex / pageSize; 

            var (items, totalCount) = await _productService.GetAllProductPagedAsync(pageIndex, pageSize);

            isLoading = false;
            StateHasChanged();

            return GridItemsProviderResult.From(
                items: items,
                totalItemCount: totalCount);
        };
    }
}
