@page
@model GlassStore.Razor.WebAppTriCH.Pages.ProductColorTriCh.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductColorTriCh</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductColorTriCh.ColorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductColorTriCh.ColorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductColorTriCh.ColorCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductColorTriCh.ColorCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductColorTriCh.StockQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductColorTriCh.StockQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductColorTriCh.ProductTriCh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductColorTriCh.ProductTriCh.Brand)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductColorTriCh.ColorTriChid">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
