@page
@model GlassStore.Razor.WebAppTriCH.Pages.CategoryTriCh.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CategoryTriCh</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryTriCh.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryTriCh.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryTriCh.Slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryTriCh.Slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryTriCh.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryTriCh.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryTriCh.Parent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryTriCh.Parent.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CategoryTriCh.CategoryTriChid">Edit</a> |
    <a asp-page="./Manage">Back to List</a>
</div>
