@page
@model GlassStore.Razor.WebAppTriCH.Pages.ProductTriCh.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div id="deleted-message" class="alert alert-danger" style="display:none;">
    Sản phẩm này vừa bị xóa bởi một quản trị viên khác. Vui lòng quay lại danh sách.
</div>

<div id="details-content">
    <h4>ProductTriCh</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTriCh.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTriCh.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTriCh.Sku)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTriCh.Sku)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTriCh.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTriCh.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTriCh.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTriCh.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTriCh.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTriCh.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTriCh.FrameType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTriCh.FrameType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTriCh.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTriCh.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTriCh.Dimensions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTriCh.Dimensions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTriCh.StockQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTriCh.StockQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTriCh.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTriCh.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTriCh.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTriCh.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTriCh.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTriCh.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTriCh.CategoryTriCh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTriCh.CategoryTriCh.CategoryName)
        </dd>
    </dl>
</div>
<div id="details-actions">
    <a asp-page="./Edit" asp-route-id="@Model.ProductTriCh.ProductTriChid" class="btn btn-primary">Edit</a>
    <a asp-page="./Manage" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/EyewareHub").build();

        connection.on("ReceiveHubDelete_productTriCh", function (id) {
            var currentId = parseInt("@Model.ProductTriCh.ProductTriChid");
            if (id == currentId) {
                alert("Sản phẩm này đã bị xoá bởi người khác");
                document.getElementById("details-content").style.display = "none";
                document.getElementById("details-actions").style.display = "none";
                document.getElementById("deleted-message").style.display = "block";
            }
        });

        connection.start().then(function () {
            console.log("Connected to the SignalR Hub")
        }).catch(function (err) {
            return console.error(err.toString());
        });
    </script>
}
