@model List<Data.Models.Book>
@{
    ViewData["Title"] = "List of books";
}

<h2>List of books</h2>

<form method="get" action="/Book">
    <label for="authorId">Filter by author:</label>
    <select name="authorId" id="sl_authors">
        <option id="op_0" value="" selected="@(ViewBag.SelectedAuthorId == null)">All authors</option>
        @foreach (var author in ViewBag.Authors)
        {
            <option id="op_@author.AuthorId" value="@author.AuthorId" selected="@(ViewBag.SelectedAuthorId == author.AuthorId)">@author.Name</option>
        }
    </select>
    <button id="bt_filter" type="submit">Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>BookId</th>
            <th>Title</th>
            <th>Publication Year</th>
            <th>Authors</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="td_bookId_@item.BookId">@item.BookId</td>
                <td id="td_title_@item.BookId">@item.Title</td>
                <td id="td_publicationYear_@item.BookId">@item.PublicationYear</td>
                <td id="td_authors_@item.BookId">
                    @foreach (var auth in item.Authors)
                    {
                        <div id="div_@(item.BookId)_@(auth.AuthorId)">@auth.Name</div>
                    }
                </td>
                <td id="td_action_@item.BookId">
                    <a id="a_@item.BookId" href="/Book/@item.BookId">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
